*{
	margin]:0;
	padding:0
}
.main{
	    width: 960px;
    margin: auto;
}
.bg-1{
    background: #607D8B;
    height: 68px;
    width: 100%;
}
.menu ul{
	margin:0;
	padding:0
}
.menu ul li{
	float:left;
	list-style:none
}
.menu ul li a{
	padding: 10px 50px;
    display: block;
    margin-top: 7px;
    color: #3fb5af;
    font-size: 20px;
}
.menu ul li a:hover{color:white}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}